.salesuggestion {
    font-size: 18px;
    display: inline-block;
    border: 2px;
    border-color: #228B22;
    margin: 10px;
    padding: 20px;
}
.suggestionList {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.suggestionDay {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #228B22;
}